*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveinFront {
  0% {
    opacity: 1;
    z-index: 1; }
  33.33% {
    opacity: 1;
    z-index: 0; }
  66.66% {
    opacity: 1;
    z-index: -1; }
  100% {
    opacity: 1;
    z-index: -2; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .75rem;
    animation: moveInRight 1s ease-out; }

@media (min-width: 500px) {
  .heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden; }
    .heading-primary--main {
      display: block;
      font-size: 7rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      width: 88rem;
      animation: moveInLeft 1s ease-out;
      margin-left: 30rem; }
    .heading-primary--sub {
      display: block;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 1.5rem;
      text-align: right;
      margin-right: 3rem;
      animation: moveInLeft 1s ease-out; }
  .heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    margin-top: 7rem;
    background-image: linear-gradient(to right, #404040, #000000);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #404040, #000000);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }

.heading-tertiary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  margin-top: 7rem;
  background-color: #fff;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }

.heading-fourth {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  margin-top: 7rem;
  background-image: linear-gradient(to right, #404040, #000000);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 5rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin-top: 10rem;
  border-radius: 10rem;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(64, 64, 64, 0.8), rgba(0, 0, 0, 0.8)), url(../img/header-background.JPG);
  background-size: cover;
  background-position: top; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.project {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 25rem; }
  .project__project {
    height: 50rem;
    width: 100%;
    border-radius: 10rem;
    backface-visibility: hidden;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center; }
    .project__project--icon {
      background-color: #000;
      text-align: center;
      vertical-align: middle;
      width: 100%;
      height: 20rem;
      z-index: 1; }
    .project__project--technologies {
      display: none; }
      .project__project--technologies .information {
        margin-top: 8rem; }
        .project__project--technologies .information .title {
          margin-bottom: 8rem;
          font-size: 3rem;
          text-transform: uppercase; }
  .project:hover .project__project--icon {
    transform: scale(1.05);
    z-index: -2; }
    .project:hover .project__project--icon img {
      transform: scale(1.15); }

.goldenguardian {
  width: 50%; }

.burgerbuilder {
  width: 50%; }

@media (min-width: 500px) {
  .project {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem; }
    .project__project {
      height: 50rem;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-radius: 10rem;
      backface-visibility: hidden;
      transition: all .2s;
      display: flex;
      align-items: center;
      justify-content: center; }
      .project__project--icon {
        background-color: #000;
        text-align: center;
        vertical-align: middle;
        width: 50rem;
        z-index: 1; }
      .project__project--technologies {
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: center;
        color: #fff;
        z-index: -1;
        width: 50rem; }
        .project__project--technologies .information {
          margin-top: 8rem; }
          .project__project--technologies .information .title {
            margin-bottom: 8rem;
            font-size: 3rem;
            text-transform: uppercase; }
    .project:hover .project__project--icon {
      transform: scale(1.05);
      z-index: -2; }
      .project:hover .project__project--icon img {
        transform: scale(1.15); } }

.skills {
  text-align: center; }

.skills-title {
  display: inline-block;
  color: #fff; }

.skills-icon-title {
  display: inline-block;
  color: #fff;
  width: 13rem; }

.skills-icon-1 {
  margin-bottom: 5rem; }

.skills-icon {
  width: 10rem; }

.skills-icon-react {
  width: 8rem; }

.skills-icon-express {
  width: 10rem; }

.p {
  display: inline-block; }

.medias {
  text-align: center; }

.email {
  display: block;
  margin-bottom: 2rem; }

.email img {
  width: 10rem;
  transition: all .2s; }
  .email img:hover {
    transform: scale(1.25); }

.facebook {
  display: block;
  margin-bottom: 2rem;
  transition: all .2s; }
  .facebook:hover {
    transform: scale(1.25); }

.facebook img {
  width: 10rem; }

.linkedin {
  margin-bottom: 2rem; }

.linkedin {
  display: block;
  transition: all .2s; }
  .linkedin:hover {
    transform: scale(1.25); }

.linkedin img {
  width: 10rem; }

.github {
  display: block;
  transition: all .2s; }
  .github:hover {
    transform: scale(1.25); }

.github img {
  width: 10rem; }

@media (min-width: 500px) {
  .medias {
    text-align: center; }
  .email {
    display: inline-block;
    margin-right: 10rem; }
  .email img {
    width: 10rem;
    transition: all .2s; }
    .email img:hover {
      transform: scale(1.25); }
  .facebook {
    display: inline-block;
    margin-right: 10rem;
    transition: all .2s; }
    .facebook:hover {
      transform: scale(1.25); }
  .facebook img {
    width: 10rem; }
  .linkedin {
    margin-right: 10rem; }
  .linkedin {
    display: inline-block;
    transition: all .2s; }
    .linkedin:hover {
      transform: scale(1.25); }
  .linkedin img {
    width: 10rem; }
  .github {
    display: inline-block;
    transition: all .2s; }
    .github:hover {
      transform: scale(1.25); }
  .github img {
    width: 10rem; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 500px) {
    .row [class^="col-"] {
      float: left; }
      .row [class^="col-"]:not(:last-child) {
        margin-right: 11rem; } }
  @media (min-width: 500px) {
    .row .col-1-of-2 {
      width: calc((100% - 11rem) / 2); } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 11rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 11rem) / 3) + 11rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 11rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 11rem) / 4) + 11rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 11rem) / 4) + 2 * 11rem); }

.section-projects {
  background-color: #f7f7f7;
  padding: 0 0 20rem 0; }

.section-skills {
  padding: 0 0 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(64, 64, 64, 0.8), rgba(0, 0, 0, 0.8)), url(../img/IMG_0443.JPG);
  background-size: cover; }

.section-connect {
  background-color: #f7f7f7;
  padding: 0 0 15rem 0; }
