.medias {
  text-align: center;
}
.email {
  margin-right: 10rem;
}
.email img {
  width: 10rem;
}
.facebook {
  display: inline-block;
  margin-right: 10rem;
  transition: all .2s;

  &:hover {
    transform: scale(1.25);
  }
}
.facebook img{
  // display: inline-block;
  width: 10rem;
}

.linkedin {
  display: inline-block;
  transition: all .2s;

  &:hover {
    transform: scale(1.25);
  }
}

.linkedin img {
  width: 10rem;
}