.header {
  height: 85vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8), 
    rgba($color-primary-dark, 0.8)), 
    url(../img/header-background.JPG); 
  background-size: cover;
  background-position: top;

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
