.project {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  &__project {
    height: 50rem;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10rem;
    backface-visibility: hidden;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;

    &--icon {
      background-color: $color-black;
      text-align: center;
      // display: flex;
      vertical-align: middle;
      width: 50rem;
      // align-items: center;
      // justify-content: center;
      z-index: 1;
    }

    &--technologies {
      display: block;;
      background-color: rgba($color-black, 0.8);
      text-align: center;
      color: $color-white;
      z-index: -1;
      width: 50rem;

      .information {
        margin-top: 8rem;
        .title {
          margin-bottom: 8rem;
          font-size: 3rem;
        }
      }
    }
  }

  // &:hover &__project--technologies {
  // }

  &:hover &__project--icon {
    img {
      transform: scale(1.15);
    }
    transform: scale(1.05);
    z-index: -2;

  }
}

.goldenguardian {
  width: 50%;
}

.burgerbuilder {
  width: 50%;
}

