.skills {
  text-align: center;
}

.skills-title {
  display: inline-block;
  color: $color-white;
}

.skills-icon-title {
  display: inline-block;
  color: $color-white;
  width: 13rem;
}

.skills-icon-1 {
  margin-bottom: 5rem;
}

.skills-icon {
  width: 10rem;
}

.skills-icon-react {
  width: 8rem;
}

.skills-icon-express {
  width: 10rem;
}

.p {
  display: inline-block;
}