@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveinFront {
  0% {
    opacity: 1;
    z-index: 1;
  }

  33.33% {
    opacity: 1;
    z-index: 0;
  }

  66.66% {
    opacity: 1;
    z-index: -1;
  }

  100% {
    opacity: 1;
    z-index: -2;
  }
}