.section-projects {
  background-color: $color-grey-light-1;
  padding: 0 0 20rem 0;
}

.section-skills {
  padding: 0 0 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8), 
    rgba($color-primary-dark, 0.8)), 
    url(../img/IMG_0443.JPG); 
    background-size: cover;
}

.section-connect {
  background-color: $color-grey-light-1;
  padding: 0 0 20rem 0;
}